<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMR4/29F/3C3n18N0CDY8/06N1zftD4Za5CUnx" crossorigin="anonymous">

<div class="top-row navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tarea 5</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
<nav class="flex-column bg-secondary text-light" style="height: 100%;">
    <div class="nav-item px-3">
        <NavLink class="nav-link text-light" href="/registro-videojuegos">
            <i class="fa-solid fa-gamepad"></i> Registro de Videojuegos
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link text-light" href="/gestion-plataformas">
            <i class="fa-solid fa-desktop"></i> Gestión de Plataformas
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link text-light" href="/registro-personajes">
            <i class="fa-solid fa-user"></i>Registro de Personajes
        </NavLink>
    </div>
</nav>
</div>




